<%= link_to 'Resources', resources_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<h1>Recommended Resources</h1>

<div id='resources'>
  <%= render 'resources/index', :@resources => @recommended_resources %>
</div>
